<table class="table table-bordered table-hover">
  <thead>
    <th>id</th>
    <th>URL</th>
    <th>Custom</th>
    <th>Hits</th>
    <th>Last hit</th>
  </thead>
  <tbody>
    <% @links.each do |l| %>
      <tr>
        <td><%= l.id %></td>
        <td><%= l.url %></td>
        <td><%= l.custom %></td>
        <td><%= l.hits %></td>
        <td><%= l.last_hit_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
